*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    .container-comic{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    }
    
    .comic-content{
    background-color: rgb(255, 255, 255);
    padding: 50px 150px 0 150px;
    }
    
    .comic-content img{
    width: 100%;
    object-fit: cover;
    }
    
    /* FLECHA IZQUERDA */
    .item-izquierdo{
    position: fixed;
    left: 0;
    top: 30%;
    margin-left: 100px;
    cursor: pointer;
    z-index: 9999;
    width:75px;        /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
    height:150px;       /*Alto de la imagen nueva, aunque en este caso son iguales.*/
    background: url(../../assets/img/previous_arrow.png);
    filter: drop-shadow(5px 5px 8px #222222d2);
    transition: all 0.2s;
    }
    
    .item-izquierdo:hover{
    background: url(../../assets/img/previous_arrow_hover.png);
    transform: scale(1.05);
    filter: drop-shadow(5px 12px 5px #222222c9);
    }
    /* ************** */  
    
    
    /* FLECHA DERECHA */
    .item-derecho{
    position: fixed;
    right: 0;
    top: 30%;
    margin-right: 60px;
    cursor: pointer;
    z-index: 9999;
    width:151px;        /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
    height:165px;       /*Alto de la imagen nueva, aunque en este caso son iguales.*/
    background: url(../../assets/img/next_arrow.png);
    transform: scale(0.55);
    filter: drop-shadow(5px 5px 8px #222222d2);
    transition: all 0.2s;
    }
    
    .item-derecho:hover{
    background: url(../../assets/img/next_arrow_hover.png);
    transform: scale(0.60);
    filter: drop-shadow(5px 12px 5px #222222c9);
    }
    /* ****************/
    
    
    
    .item-talk-teacher{
        width: 425px;
        height: 100px;
        background: url(../../assets/img/leer.png);
        filter: drop-shadow(5px 5px 8px #222222d2);
        transform: scale(0.55);
        background-size: cover;
        }
        
        .item-talk-teacher:hover{
        width: 425px;
        height: 100px;
        background: url(../../assets/img/leer_hover.png);
        transform: scale(0.55);
        filter: drop-shadow(5px 12px 5px #222222c9);
        cursor: pointer;
        background-size: cover;
        }
    
        .item-go-lunch{
            width: 425px;
            height: 100px;
            background: url(../../assets/img/ignorarlo_btn.png);
            filter: drop-shadow(5px 5px 8px #222222d2);
            transform: scale(0.55);
            background-size: cover;
            }
            
        .item-go-lunch:hover{
            width: 425px;
            height: 100px;
            background: url(../../assets/img/ignorarlo_btn_hover.png);
            transform: scale(0.55);
            filter: drop-shadow(5px 12px 5px #222222c9);
            cursor: pointer;
            background-size: cover;
        }