<div class="container-comic">
    <div class="comic-content">
        <img src="../../assets/img/home.png" alt="">

        

        <div style="display: flex; justify-content: center; gap: 30px; margin-top: -24%;">
            <div class='wrapper'>
                <input type='text' name='name' [(ngModel)]="name" placeholder="Nombre">
                <input type='text' name='email' [(ngModel)]="email" placeholder="Correo electronico">
            </div> 
            <div class="item-talk-teacher" (click)="goToComic()"></div>
        </div>
    </div>        
</div>